/* @import url('reset.css'); */
@import url('variables.css');
@import url('fonts.css');

/*----------------------------General--------------------------*/
body {
  margin: 0;
  padding: 0;
  color: #111;
  font-family: Montserrat;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 18px;
  /* 128.571% */
  letter-spacing: 0.72;
  background-color: #fafafa;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.container {
  padding: 0 20px;
}

section {
  padding-top: 40px;
  padding-bottom: 40px;
}

.button {
  cursor: pointer;
  border: none;
  background-color: transparent;
  color: #FFF;

  display: flex;
  padding: 12px 28px;
  align-items: center;
  gap: 14px;

  font-size: 14px;
  font-weight: 400;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

/* ------------------------------------------------------------*/
/*-----------------------------Header--------------------------*/
.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background-color: #fafafa;
  z-index: 100;


  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-top: 20px;
  padding-bottom: 14px;
}

/*-------------------------------------------------------------*/
/*---------------------------Logo------------------------------*/
.logo-link {
  display: flex;
  align-items: center;
  /* justify-content: space-between; */
  gap: 4px;
  /* max-width:170px; */
  text-decoration: none;
  color: inherit;
}

.logo-text {
  font-weight: 700;
  letter-spacing: -0.42px;
  text-transform: uppercase;
}

.logo-text--italic {
  font-style: italic;
}

.logo-icon {
  fill: #fcf1e0;
  stroke: #fd9222;
}

/* ------------------------------------------------------------*/

/*-------------------------Burger menu-------------------------*/
.burger-menu-button {
  padding: 0;
  display: inline-block;
  width: 28px;
  height: 28px;
  overflow: hidden;

  &:hover .burger-menu-icon {
    transform: scale(1.2);
    transition: transform 0.2s ease-in-out;
  }
}

.burger-menu-icon {
  display: inline-block;
  width: 100%;
  height: 100%;
  stroke: #111;
  transform-origin: center;
}

/* Popup  */

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 999;
  overflow: none;
}

.menu-popup {
  width: 220px;
  height: 100vh;
  position: fixed;
  top: 0;
  right: 0;
  background-color: #1E1823;
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  z-index: 9999;
}

.close-button {
  width: 28px;
  height: 28px;
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: 20px;
  right: 20px;
  cursor: pointer;
}

.close-icon {
  width: 20px;
  height: 20px;
  stroke: #fff;

}

.burger.menu {
  margin-top: 136px;
  flex-direction: column;
  align-items: flex-start;
  gap: 24px;
}

.burger.menu-link {
  color: #fcf1e0;
}

.burger.social-networks {
  justify-content: flex-start;
  border-color: #fcf1e0;
}

.burger.social-networks-link {
  border-color: rgba(255, 255, 255, 0.10);
}

.burger.social-networks-icon {
  fill: #fff;
}

/*-------------------------------------------------------------*/

/*-----------------------------Menu----------------------------*/
.menu {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 24px;
}

.menu-item {}

.menu-link {
  color: #111;
  font-weight: 500;
  line-height: 16px;
  /* 114.286% */
  text-decoration: none;
  transition: color 0.2s ease-in-out;

  &:hover {
    color: #fd9222;
  }
}

/* ------------------------------------------------------------*/
/*---------------------------Social networks-------------------*/
.social-networks {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 14px;
}

.social-networks-link {
  box-sizing: border-box;
  width: 40px;
  height: 40px;
  padding: 4px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 10px;
  border: 1px solid rgba(17, 17, 17, 0.1);
  transition: border-color 0.2s ease-in-out;

  &:hover {
    border-color: #fd9222;

    .social-networks-icon {
      fill: #fd9222;
    }

  }

  .social-networks-icon {
    width: 24px;
    height: 24px;
    transition: fill 0.2s ease-in-out;
  }
}

/*-------------------------------------------------------------*/

/*----------------------------Hero-----------------------------*/
.hero {
  padding-top: 64px;
}

.hero-bg-image {
  align-content: end;
  position: relative;
  top: 0;
  left: 0;
  z-index: -1;
  min-width: 335px;
  min-height: 620px;
  border-radius: 30px;
  background-image:
    linear-gradient(rgba(17, 17, 17, 0.4), rgba(17, 17, 17, 0.4)),
    url(/assets/images/hero/chocolate-mobile.webp);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

.hero-content {
  margin-bottom: 20px;
  display: flex;
  flex-direction: column;
  gap: 32px;
}

.hero-title {
  max-width: 299px;
  color: #FFF;
  font-size: 20px;
  font-weight: 500;
  line-height: 24px;
  /* 120% */
  letter-spacing: 1.6px;
}

.hero-button-container {
  display: flex;
  gap: 14px;
}

.primary-button {
  border-radius: 100px;
  background: #FD9222;
}

.secondary-button {
  border-radius: 100px;
  border: 1px solid #FFF;
  text-decoration: none;
}

.scroll-down-button {
  padding: 0;
  color: #FFF;
  font-size: 12px;
  line-height: 14px;
  /* 116.667% */
  letter-spacing: 0.36px;
  gap: 12px;
}

.scroll-down-icon-container {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 6px;
  border-radius: 50%;
  background-color: white;
}

.scroll-down-icon {
  fill: #FD9222;
  width: 16px;
  height: 16px;
}

/*-------------------------------------------------------------*/

/*--------------------------Benefits---------------------------*/
.benefits {
  padding-top: 20px;
  padding-bottom: 20px;
  background-color: #1E1823;
  color: #fff;
}

.benefits-list {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.benefits-icon-container {
  display: flex;
  width: 62px;
  height: 62px;
  padding: 15px;
  margin-bottom: 22px;
  justify-content: center;
  align-items: center;

  border-radius: 50%;
  border: 1px solid rgba(255, 255, 255, 0.50);
}

.benefits-icon {
  fill: transparent;
  stroke: #fd9222;
}

.benefits-title {
  margin-bottom: 18px;
  color: #FFF;
  font-size: 18px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  letter-spacing: 3px;
}

.benefits-text {
  color: rgba(255, 255, 255, 0.70);
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: 1.62px;
}

/*-------------------------------------------------------------*/

/*--------------------------Ingredients------------------------*/
.ingredients {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;

}

.section-title {
  margin-bottom: 32px;

  width: 283px;
  color: #111;
  text-align: center;
  font-family: Montserrat;
  font-size: 20px;
  font-style: normal;
  font-weight: 600;
  line-height: 24px;
  /* 120% */
  letter-spacing: -0.6px;
  text-transform: uppercase;
  text-align: center;
}

.accent {
  color: #FD9222;
}

.ingredients-list {
  display: flex;
  gap: 20px;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.ingredients-item {
  width: 335px;
  height: 270px;
  border-radius: 15px;
  background-color: #FFF;
  border: 1px solid #FD9222;

  .arrow-icon {
    stroke: #FD9222;
  }

}

.ingredients-item:first-child,
.ingredients-item:nth-child(5) {
  background-color: #FD9222;

  .ingredient-title {
    color: #FFF;
  }

  .arrow-icon {
    stroke: #FFF;
  }
}

.ingredients-item:nth-child(3),
.ingredients-item:nth-child(7) {
  background-color: #1E1823;

  .ingredient-title {
    color: #FFF;
  }

  .arrow-icon {
    stroke: #FFF;
  }

}

.content-container {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;

}

.arrow-button {
  padding: 0;
  position: relative;
  top: 14px;
  right: 14px;
  align-self: self-end;
}

.arrow-icon {
  fill: transparent;
}

.ingredients-img {
  align-self: center;
  margin-bottom: 16px;
}

.ingredient-title {
  color: #111;
  font-size: 14px;
  font-style: normal;
  font-weight: 600;
  line-height: 18px;
  /* 128.571% */
  letter-spacing: -0.28px;
  text-transform: uppercase;
  margin-left: 28px;
}

.description {
  background-color: #fff;
  width: 100%;
  height: 100%;
  border-radius: 15px;
  padding: 15px 20px;
}

.description-button-container {
  display: flex;
  gap: 6px;
  margin-top: 8px;
  margin-bottom: 14px;
}

.benefits-button {
  display: flex;
  padding: 6px 16px;
  justify-content: center;
  align-items: center;
  gap: 4px;
  border-radius: 35px;
  font-size: 10px;
  font-weight: 400;
  line-height: 12px;
  /* 120% */
}

.primary {
  background-color: #FD9222;
  color: #FFF;
}

.secondary {
  border: 1px solid #FD9222;
  background-color: #FAFAFA;
  color: #111;
}

.description-text {
  height: 162px;

  color: #111;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 18px;
  /* 128.571% */
  letter-spacing: -0.28px;
}


/*-------------------------------------------------------------*/

/*--------------------------Production-------------------------*/
.production {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.production-vidio {}

.placeholder {
  display: flex;
  align-items: center;
  border-radius: 15px;

  width: 100%;
  height: 500px;
  background-image: url(/assets/images/production/video-screen-mobile.webp);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

.arrow-button {
  margin-left: 50%;
  margin-bottom: 75%;

  cursor: pointer;
}

.play-icon {

  fill: transparent;
  stroke: #FFF;
}

.production-content {
  margin-top: 20px;
  background-color: #fff;
  border-radius: 15px;
  padding: 20px 14px;
}

.production-title {
  margin-bottom: 20px;
  color: #111;
  font-family: Montserrat;
  font-size: 18px;
  font-style: normal;
  font-weight: 600;
  line-height: 24px;
  /* 133.333% */
}

.production-list {
  display: flex;
  flex-direction: column;
  gap: 18px;
  list-style: disc;
  margin-left: 20px;
}



/*-------------------------------------------------------------*/
/*----------------------------Products-------------------------*/
/*-------------------------------------------------------------*/

/*----------------------------Bestsellers----------------------*/
/*-------------------------------------------------------------*/

/*----------------------------Reviews--------------------------*/
/*-------------------------------------------------------------*/


/*----------------------------Footer---------------------------*/
/*-------------------------------------------------------------*/