/* @import url('reset.css'); */
@import url('variables.css');
@import url('fonts.css');

/*----------------------------General--------------------------*/
body {
  margin: 0;
  padding: 0;
  color: #111;
  font-family: Montserrat;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 18px;
  /* 128.571% */
  letter-spacing: -0.28px;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.container {}

.button {
  cursor: pointer;
  border: none;
  background-color: transparent;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

/* ------------------------------------------------------------*/
/*-----------------------------Header--------------------------*/
.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px 20px 14px 20px;
}

/*-------------------------------------------------------------*/
/*---------------------------Logo------------------------------*/
.logo-link {
  display: flex;
  align-items: center;
  /* justify-content: space-between; */
  gap: 4px;
  /* max-width:170px; */
  text-decoration: none;
  color: inherit;
}

.logo-text {
  font-weight: 700;
  letter-spacing: -0.42px;
  text-transform: uppercase;
}

.logo-text--italic {
  font-style: italic;
}

.logo-icon {
  fill: #fcf1e0;
  stroke: #fd9222;
}

/* ------------------------------------------------------------*/

/*-------------------------Burger menu-------------------------*/
.burger-menu-button {
  display: inline-block;
  width: 32px;
  height: 32px;
  overflow: hidden;

  &:hover .burger-menu-icon {
    transform: scale(1.2);
    transition: transform 0.2s ease-in-out;
  }
}

.burger-menu-icon {
  display: inline-block;
  width: 100%;
  height: 100%;
  stroke: #111;
  transform-origin: center;
}

/* Popup  */

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 999;
  overflow: none;
}

.menu-popup {
  width: 220px;
  height: 100vh;
  position: fixed;
  top: 0;
  right: 0;
  background-color: #1E1823;
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  z-index: 9999;
}

.close-button {
  width: 28px;
  height: 28px;
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: 20px;
  right: 20px;
  cursor: pointer;
}

.close-icon {
  width: 20px;
  height: 20px;
  stroke: #fff;

}

.burger.menu {
  margin-top: 136px;
  flex-direction: column;
  align-items: flex-start;
  gap: 24px;
}

.burger.menu-link {
  color: #fcf1e0;
}

.burger.social-networks {
  justify-content: flex-start;
  border-color: #fcf1e0;
}

.burger.social-networks-link {
  border-color: rgba(255, 255, 255, 0.10);
}

.burger.social-networks-icon {
  fill: #fff;
}

/*-------------------------------------------------------------*/

/*-----------------------------Menu----------------------------*/
.menu {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 24px;
}

.menu-item {}

.menu-link {
  color: #111;
  font-weight: 500;
  line-height: 16px;
  /* 114.286% */
  text-decoration: none;
  transition: color 0.2s ease-in-out;

  &:hover {
    color: #fd9222;
  }
}

/* ------------------------------------------------------------*/
/*---------------------------Social networks-------------------*/
.social-networks {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 14px;


}

.social-networks-link {
  box-sizing: border-box;
  width: 40px;
  height: 40px;
  padding: 4px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 10px;
  border: 1px solid rgba(17, 17, 17, 0.1);
  transition: border-color 0.2s ease-in-out;

  &:hover {
    border-color: #fd9222;

    .social-networks-icon {
      fill: #fd9222;
    }

  }

  .social-networks-icon {
    width: 24px;
    height: 24px;
    transition: fill 0.2s ease-in-out;
  }
}

/*-------------------------------------------------------------*/