:root {
  /* Colors */
  --black: #111111, --orange: #fd9222, --violet: #1e1823, --beige: #fcf1e0,
    --light: #fafafa, --gray: #4c4c4c,
    --white: #ffffff /* Fonts */ --font-family: 'Montserrat', sans-serif;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
